:root {
  --wrapper-width: 1920px;
  --container-width: 1200px;
  --container-padding: 15px;
  --half: calc((1170px - 100vw) / 4);

  --font-text: "Raleway";
  --font-title: "Montserrat";

  --page-bg: #fff;
  --dark-color: #222;
  --white-color: #fff;
  --light-red-color: #ffa3a3;
  --red-color: #fc5252;
  --blur-color: #381ddb;
}
