.testimonials {
  padding: 120px 0 230px;
  @include mediaTablet {
    padding: 60px 0 120px;
  }
  @include mediaMobile {
    padding: 30px 15px 60px;
  }
  &__title {
    margin-bottom: 61px;
    text-align: center;
    @include mediaMobile {
      margin-bottom: 40px;
    }
  }
  &__slider {
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
  }
}
