.tabscontent {
  border-collapse: collapse;
  border-radius: 24px;
  border-style: hidden;
  box-shadow: 0 0 0 1px #e0e0e0;
  &__thead {
    vertical-align: middle;
    background-color: rgba($color: #381ddb, $alpha: 0.05);
    th:first-child {
      width: 23%;
    }
    th:nth-child(2) {
      width: 34.2%;
    }
    @include mediaTablet() {
      display: none;
    }
  }
  &__time {
    vertical-align: top;
    &:before {
      @include mediaTablet() {
        content: attr(data-label);
        margin-right: 20px;
        font-weight: bold;
        color: var(--red-color, #fc5252);
      }
    }
  }

  &__content {
    vertical-align: top;
    font-weight: 700;
    text-align: justify;
  }
  &__speakers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mediaTablet() {
      display: flex !important;
    }
    @include mediaMobileS() {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }
  }
  tr + tr {
    border-top: 1px solid #e0e0e0;
  }
  th,
  td {
    padding: 40px;
    text-align: left;
  }
  tr,
  td {
    @include mediaTablet() {
      display: block;
    }
  }
  td {
    @include mediaTablet() {
      padding: 20px;
      font-size: 14px;
    }
  }
}
.speakers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.speaker {
  display: flex;
  align-items: center;
  gap: 10px;
  &__img {
    flex-shrink: 0;
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
  }
  &__name {
    font-weight: 700;
  }
  &__booth span {
    opacity: 0.5;
  }
}
.video-tab {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  &_red {
    color: var(--red-color);
  }
}
