.timer {
  display: grid;
  grid-template-columns: auto auto auto 240px;
  justify-content: space-between;
  justify-items: end;
  max-width: 1447px;
  font-family: var(--font-title);
  font-size: 144px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: transparent;
  -webkit-text-stroke: 0.01em rgba($color: #ffffff, $alpha: 0.5);
  text-shadow: 0.01em 0 transparent;
  @media screen and (max-width: 1500px) {
    grid-template-columns: auto auto auto 150px;
    max-width: 900px;
    font-size: 80px;
  }

  @include mediaTablet {
    grid-template-columns: auto auto auto 150px;
    max-width: unset;
    font-size: 80px;
  }
  @include mediaMobile {
    grid-template-columns: auto auto auto 90px;
    font-size: 50px;
  }
  @include mediaMobileS {
    grid-template-columns: auto auto auto 60px;
    font-size: 30px;
  }
}
